* text=auto eol=lf

# Archives
*.zip export-ignore
*.tar. gz export-ignore

# Development files
/. github export-ignore
/tests export-ignore
/ejemplo export-ignore
/. gitattributes export-ignore
/. gitignore export-ignore
/phpunit.xml export-ignore
/CERTIFICATION.md export-ignore
/SPONSORS.md export-ignore

# Documentation
/README.md export-ignore
